<p id="notice"><%= notice %></p>

<p>
  <strong>Calidad:</strong>
  <%= @calidad.calidad_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @calidad.valor %>
</p>

<p>
  <strong>Sla:</strong>
  <%= @calidad.sla %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @calidad.contrato %>
</p>

<%= link_to 'Edit', edit_calidad_path(@calidad) %> |
<%= link_to 'Back', calidades_path %>
