<%= form_for @comuna, :html => { :class => "form-horizontal comuna" } do |f| %>

    <% if @comuna.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comuna.errors.count, "error") %> prohibited this comuna from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comuna.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :comuna_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comuna_id, :class => 'form-control' %>
    </div>
    <%= error_span(@comuna[:comuna_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%= error_span(@comuna[:nombre]) %>
  </div>
  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :region, :class => 'form-control' %>
    </div>
    <%= error_span(@comuna[:region]) %>
  </div>
  <div class="control-group">
    <%= f.label :pais, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pais, :class => 'form-control' %>
    </div>
    <%= error_span(@comuna[:pais]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            comunas_path, :class => 'btn btn-default' %>

<% end %>
