<p id="notice"><%= notice %></p>

<p>
  <strong>Datobinary:</strong>
  <%= @prueba.datobinary %>
</p>

<p>
  <strong>Datobollean:</strong>
  <%= @prueba.datobollean %>
</p>

<p>
  <strong>Datodate:</strong>
  <%= @prueba.datodate %>
</p>

<p>
  <strong>Datodecimal:</strong>
  <%= @prueba.datodecimal %>
</p>

<p>
  <strong>Datofloat:</strong>
  <%= @prueba.datofloat %>
</p>

<p>
  <strong>Datointeger:</strong>
  <%= @prueba.datointeger %>
</p>

<p>
  <strong>Datotimestamp:</strong>
  <%= @prueba.datotimestamp %>
</p>

<p>
  <strong>Datotext:</strong>
  <%= @prueba.datotext %>
</p>

<p>
  <strong>Datostring:</strong>
  <%= @prueba.datostring %>
</p>

<p>
  <strong>Datofecha:</strong>
  <%= @prueba.datofecha %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
