<%= form_for @usuario, :html => { :class => "form-horizontal usuario" } do |f| %>

    <% if @usuario.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :usuario_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usuario_id, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:usuario_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :correo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :correo, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:correo]) %>
  </div>
  <div class="control-group">
    <%= f.label :nombreUsuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombreUsuario, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:nombreUsuario]) %>
  </div>
  <div class="control-group">
    <%= f.label :claveUsuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :claveUsuario, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:claveUsuario]) %>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:nombre]) %>
  </div>
  <div class="control-group">
    <%= f.label :apellido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apellido, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:apellido]) %>
  </div>
  <div class="control-group">
    <%= f.label :genero, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :genero, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:genero]) %>
  </div>
  <div class="control-group">
    <%= f.label :fechaNacimiento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaNacimiento, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:fechaNacimiento]) %>
  </div>
  <div class="control-group">
    <%= f.label :facebook, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:facebook]) %>
  </div>
  <div class="control-group">
    <%= f.label :twitter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:twitter]) %>
  </div>
  <div class="control-group">
    <%= f.label :linkedin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :linkedin, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:linkedin]) %>
  </div>
  <div class="control-group">
    <%= f.label :youtube, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :youtube, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:youtube]) %>
  </div>
  <div class="control-group">
    <%= f.label :telefono_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefono_id, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:telefono_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :direccion_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccion_id, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:direccion_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            usuarios_path, :class => 'btn btn-default' %>

<% end %>
